*{
  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
  margin:0;
  padding:0;
  border-style:none;
}

li{
  text-decoration: none;
  list-style: none;
}

a{
  color: #333333;
}


